@{
    ViewBag.Title = "";
}


    <img src="~/Content/images/muppets-3.jpg"  width="100%" style=" transition: .5s ease-in-out all;"/>
    


<div class="row" style="opacity:.8;">
    <div class="col-md-4">
        <h2>The Muppet Show</h2>
        <p>
            The Muppet Show is a comedy television series created by Jim Henson and featuring The Muppets.<br />
            The series originated as two pilot episodes produced by Henson for ABC in 1974 and 1975, respectively.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>   </h2><br /><br />
        <p>The Muppet Show is presented as a variety show, featuring recurring sketches and musical numbers interspersed with plotlines taking place behind the show. </p>
        
    </div>
    <div class="col-md-4">
        <h2></h2><br /><br />
        <p>Within its context, Kermit the Frog acts as showrunner and host of the show.</p>
        <p><a href="https://www.imdb.com/title/tt0074028/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>